:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3e5858;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #202030;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #213547; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 5px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 1s;
}
button:hover {
  border-color: #709b78;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#headerDiv {
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 25px;
}
#timeTrackerh1 {
  border: 1px solid rgb(0, 0, 0);
}
#headerDiv p {
  border: 1px solid rgb(0, 0, 0);
}
#menuBtnsDiv {
  border: 1px solid rgb(0, 0, 0);
}

/*LOGGED IN-----------------------------------------------*/
#loggedInDiv {
  border: 1px solid rgb(5, 5, 5);
}
#loggedInUserH1 {
  border: 1px solid rgb(0, 0, 0);
  padding: 0.3em;
}
/*LOGGED IN FORM*-----------------------------------------------*/
#loginFormDiv {
  border: 1px solid rgb(0, 0, 0);
}
#loginForm {
  border: 1px solid rgb(0, 0, 0);
}
#loginFormH1 {
  border: 1px solid rgb(0, 0, 0);
}
.loginFormDivDetails {
  border: 1px solid rgb(0, 0, 0);
}
.loginFormDivDetailsLabel {
  border: 1px solid rgb(0, 0, 0);
}
.loginFormDivDetailsInput {
  border: 1px solid rgb(0, 0, 0);
}

.loginFormDivDetailsLabelText {
  border: 1px solid rgb(0, 0, 0);
}
.loginFormBtnsDiv {
  border: 1px solid rgb(0, 0, 0);
}
/*Active*-----------------------------------------------*/
#activeActivitiesMainDiv {
  border: 1px solid black;
  padding: 25px;
  padding-top: 0;
  
}
#activeActivitiesDiv {
  border: 1px solid red;
}
#activeActivitiesH1 {
  margin: 0.3em;
  /* border: 5px solid red; */
}
#activeActivitiesUl {
  /* border: 1px solid red; */
  list-style: none;
  padding:0;
  margin-top: 0;
  
  
}
#activeActivitiesLi{
  /* border: 5px solid red; */
  margin-bottom: 0.5em;
  
}
#activeActivitiesBtnsDiv {
  border: 1px solid rgb(0, 0, 0);
}
#activeActivitiesLiH3 {
  border: 1px solid rgb(0, 0, 0);
  border-bottom: none;
  padding-bottom: 1em;
  
}
#activeActivitiesLiH3 h3{
  margin-bottom: 0;
  /* border: 1px solid rgb(0, 230, 247); */
}
#activeActivitiesLiInfoDiv{
  border: 1px solid rgb(0, 0, 0);
  border-bottom: none;
}

.activeActivitiesLiInfoP {
  border: 1px solid rgb(0, 0, 0);
  
}
#activeActivitesLiInfoDivStartTime {
  column-count: 2;
  column-gap: 0;
}
#activeActivitesLiInfoDivStartTime > div{
  border: 1px solid rgb(0, 0, 0);
  break-inside: avoid-column;
}

#activeActivitiesLiInfoDivTime {
  /* border: 1px solid white; */
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#activeActivitesLiInfoDivStopTime {
  column-count: 2;
  column-gap: 0;
}
#activeActivitesLiInfoDivStopTime > div{
  border: 1px solid rgb(0, 0, 0);
  break-inside: avoid-column;
  height: 100%;
}
.activeActivitiesLiInfoP p{
  /* border: 1px solid rgb(0, 255, 42); */
}

/* FORM */
#activeActivtiesFormDiv {
  border: 1px solid rgb(0, 0, 0);
}
#activeActivtiesFormDivTitle {
  border: 1px solid rgb(0, 0, 0);
}
#activeActivtiesForm {
  /* border: 1px solid red; */
}
#activeActivtiesFormBtn {
  /* border: 1px solid rgb(214, 252, 2); */
}
#activeActivtiesFormDivTitleh3{
  /* border: 1px solid red; */
}
#activieFormInfoDiv {
display: flex;
}
#activieFormInfoDivP {
  border: 1px solid rgb(0, 0, 0);
  flex-grow: 1;
  flex-basis: 50%;
}

#activieFormInfoDivInput {
  align-content: center;
  border: 1px solid rgb(0, 0, 0);
  flex-grow: 1;
  flex-basis: 50%;
}

/*Active*-------------------------------------------------------------------------------*/

/*History*------------------------------------------------------------------------------*/
#historyMainDiv{
  border: 1px solid black;
  padding: 25px;
  padding-top: 0;
}
#historyH1 {
  margin: 0.3em;
  /* border: 1px solid red; */
}
#historyUl{
  /* border: 1px solid red; */
  list-style: none;
  padding: 0;
  margin-top: 0;
}
#historyLi{
  /* border: 1px solid rgb(214, 252, 2); */
  margin-bottom: 0.5em;
  
}
#historyLiH3{
  border: 1px solid rgb(0, 0, 0);
  border-bottom: none;
  padding-bottom: 1em;
}
#historyLiH3 h3 {
  margin-bottom: 0;
  /* border: 1px solid red; */
}
#historyLiInfoDiv {
  border: 1px solid rgb(0, 0, 0);
  border-bottom: none;
}
.historyLiInfoP {
  border: 1px solid rgb(0, 0, 0);
  
}

#historyLiInfoTimeDiv{
  border: 1px solid rgb(0, 0, 0);
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#historyLiInfoDivDate {
  column-count: 2;
  column-gap: 0;
}
#historyLiInfoDivDate >div {
  border: 1px solid rgb(0, 0, 0);
  break-inside: avoid-column;
}
#historyLiInfoTimeDivStartTime{
  column-count: 2;
  column-gap: 0;
}
#historyLiInfoTimeDivStartTime > div{
  border: 1px solid rgb(0, 0, 0);
  break-inside: avoid-column;
}
#historyLiInfoTimeDivStopTime{
  column-count: 2;
  column-gap: 0;
}
#historyLiInfoTimeDivStopTime > div{
  border: 1px solid rgb(0, 0, 0);
  break-inside: avoid-column;
}
.historyLiInfoP {
 /* border: 1px solid black; */
}
#historyBtnsDiv {
  border: 1px solid black;
}

/*History*------------------------------------------------------------------------------*/

/*Admin    *----------------------------------------------------------------------------*/

#adminMainDiv {
  border: 1px solid black;
  padding: 25px;
  padding-top: 0;
}
#adminH1Div {
  /* border: 1px solid red; */
}
#adminH1 {
  /* border: 1px solid red; */
  margin-bottom: 0;
  margin-top: 0.3rem;
}
#adminInfoH2Div {
  /* border: 1px solid red; */
}
#adminInfoH2 {
  text-decoration: underline;
  /* border: 1px solid red; */
}
#adminUl {
  /* border: 1px solid rgb(45, 199, 58); */
  list-style: none;
  padding: 0;
}
#adminLi {
  margin-bottom: 0.5em;
  /* border: 1px solid rgb(45, 199, 58); */
}
#adminLiInfoDiv {
  border: 1px solid rgb(0, 0, 0);
  /* display: grid; */
}
#adminLiInfoUser {
  border: 1px solid rgb(0, 0, 0);
  column-count: 2;
  column-gap: 0;
  
}
#adminLiInfoUser > div{
  border: 1px solid rgb(0, 0, 0);
  break-inside: avoid-column;
}
#adminLiInfoTime {
  border: 1px solid rgb(0, 0, 0);
}



/*Admin    *----------------------------------------------------------------------------*/
/*LOGGED IN*----------------------------------------------------------------------------*/
/*LOGGED IN*----------------------------------------------------------------------------*/
/*LOGGED IN*----------------------------------------------------------------------------*/
/*LOGGED IN*----------------------------------------------------------------------------*/
/*LOGGED IN*----------------------------------------------------------------------------*/
/*LOGGED IN*----------------------------------------------------------------------------*/
/*LOGGED IN*----------------------------------------------------------------------------*/

